* {
	box-sizing: border-box;
}

body {
	background-image: url("/img/fondo-gigapixel-scale-2_00x.jpg");
	color: #fff;
	font-family: 'Montserrat', sans-serif;
	/*min-height: 100vh;*/
	display: flex;
	align-items: center;
}

.contenedor {
	max-width: 1200px;
	width: 90%;
	margin: auto;
}

/* --- --- CONTENEDOR PRINCIPAL --- --- 

.contenido-principal {
	margin-bottom: 50px;
	display: flex;
	align-items: center;
}

.contenido-principal__imagen {
	vertical-align: top;
	margin-right: 20px;
	width: 50%;
	max-width: 550px;
}

.contenido-principal__contenedor {
	width: 50%;
}

.contenido-principal__titulo {
	font-weight: normal;
	font-size: 28px;
}

.contenido-principal__resumen {
	font-family: 'Open Sans', sans-serif;
	line-height: 30px;
	color: #CFCFCF;
}*/

/* --- --- CAROUSEL --- --- */
.carousel__contenedor {
	position: relative;
}

.carousel__anterior,
.carousel__siguiente {
	position: absolute;
	display: block;
	width: 30px;
	height: 30px;
	border: none;
	top: calc(50% - 35px);
	cursor: pointer;
	line-height: 30px;
	text-align: center;
	background: none;
	color: #fff;
	opacity: 20%;
}

.carousel__anterior:hover,
.carousel__siguiente:hover {
	opacity: 100%;
}

.carousel__anterior {
	left: -30px;
}

.carousel__siguiente {
	right: -30px;
}

.carousel__lista {
	overflow: hidden;
	
}

.carousel__elemento {
	text-align: center;
}

.carousel__indicadores .glider-dot {
	display: block;
	width: 30px;
	height: 4px;
	background: #fff;
	opacity: .2;
	border-radius: 0;
}

.carousel__indicadores .glider-dot:hover {
	opacity: .5;
}

.carousel__indicadores .glider-dot.active {
	opacity: 1;
}

@media screen and (max-width: 800px) {
	body {
		padding: 40px 0;
	}

	.contenido-principal {
		flex-direction: column;
	}

	.contenido-principal > * {
		width: 100%;
	}
}


/*------------------*/

.titulo_carta, .titulo_categorias{
    color: red;
    font-size: larger;
    font-style: normal;
}

.botones_categorias{
    display: grid;
    /*justify-items: center;*/
    justify-content: center;
	gap: 0;

    grid-template-areas: 
    "btn1_grid btn2_grid btn3_grid btn4_grid";

    grid-template: 
    "btn1_grid btn2_grid btn3_grid btn4_grid" 50px / 
    auto auto auto auto;
}


.btn1, .btn2, .btn3, .btn4{
	font-size: large;
	cursor: pointer;
	padding: 5px;
	border-radius: 5px;
}
.btn1{
    grid-area: btn1_grid;

	
}
.btn2{
    grid-area: btn2_grid;

}
.btn3{
    grid-area: btn3_grid;
	
}
.btn4{
    grid-area: btn4_grid;

}


.carousel__elemento p {
	color: aquamarine;
	font-size: 25px;
}


@media all and (max-width:900px)
{
	.botones_categorias{
		grid-template: 
		"btn1_grid btn2_grid" auto
		"btn3_grid btn4_grid" auto / 
		auto auto;

		justify-items: center;

		gap: 0;
	}    
    
}